.container {
  overflow: hidden;
  display: flex;
  justify-content: center;
  gap: 140px;
  padding-top: 150px;
}

.fade-in-left {
  opacity: 0;
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  animation: fadeIn-left 2s forwards, moveAndShrink-left .5s forwards 3s;
  z-index: 2;
}

@keyframes fadeIn-left {
  to {
    opacity: 1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes moveAndShrink-left {
  to {
    transform: scale(0.9) translateY(-240px) translateX(140px) rotate(11deg);
    opacity: .4;
  }
}

.fade-in-right {
  opacity: 0;
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  animation: fadeIn-right 2s forwards, moveAndShrink-right .5s forwards 3s;
  z-index: 2;
}

@keyframes fadeIn-right {
  to {
    opacity: 1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes moveAndShrink-right {
  to {
    transform: scale(0.9) translateY(-242px) translateX(-110px) rotate(-11deg);
    opacity: .4;
  }
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.25);
  z-index: 3;
  opacity: 0;
  animation: fadeIn-logo .5s forwards 1.2s, moveAndShrink-logo .5s forwards 3s;
}

@keyframes fadeIn-logo {
  to {
    opacity: 1;
  }
}

@keyframes moveAndShrink-logo {
  to {
    top: 37.5%;
    transform: translate(-50%, -50%) scale(1);
  }
}
